body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(0%, -18%);
}
header {
  margin: 70px;
  /* transform: translate(-550%,0%); */
}
header:hover {
  cursor: pointer;
}
.social {
  position: relative;
  left: 39%;
  padding: 1.5%;
}
img {
  vertical-align: middle;
}
input[type="checkbox"]:hover + .potal:hover {
  cursor: pointer;
}
input[type="checkbox"] {
  width: 18px;
  height: 18px;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 5px;
}
#potal1 {
  position: relative;
  top: -4.5px;
}
#potal2 {
  position: relative;
  top: -6.5px;
}
#potal3 {
  position: relative;
  top: -3.2px;
}
#potal45 {
  position: relative;
  top: -7px;
}
input[type="checkbox"]:hover {
  cursor: pointer;
}
input[type="text"] {
  border: 1px solid rgb(156, 156, 156);
  height: 30px;
  font-size: 19px;
  border-radius: 5px;
}
input[type="submit"] {
  width: 35px;
  height: 35px;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 5px;
  font-size: 1.5rem;
  color: rgb(44, 42, 44);
  text-shadow: 0px 2px rgba(0, 0, 0, 0.44);
  position: relative;
  top: 2.3px;
}
input[type="submit"]:hover {
  cursor: pointer;
}
.social:hover {
  cursor: pointer;
}
#instagram {
  transform: rotate(-30deg);
}
#facebook {
  transform: rotate(5deg);
  position: relative;
  top: 10px;
}
#twitter {
  transform: rotate(-10deg);
}
button {
  border-style: none;
  background-color: rgba(255, 255, 255, 0);
}
footer {
  position: absolute;
  left: 10%;
  bottom: -10%;
}
.tool:hover {
  cursor: pointer;
}
/* for timer */
.timer_wrap {
  display: none;
  position: absolute;
  left: 9.5%;
  bottom: -5%;
  border: 5px solid rgb(221, 196, 196);
  background-color: #f2cac8;
  border-radius: 10px;
  padding-top: 15px;
  width: 200px;
  height: 65px;
}
.timer {
  text-align: center;
  position: relative;
  bottom: 10%;
  font-size: 25px;
  right: 1.54%;
  font: bold;
  color: rgb(68, 68, 68);
}
.timer_button {
  border: 0.5px solid rgb(192, 192, 192);
  position: relative;
  left: 5.5%;
  bottom: 50%;
  color: rgb(68, 68, 68);
  background-color: rgb(238, 203, 218);
  border-radius: 10px;
  font-size: 17px;
  width: 55px;
}
/* for calculator */

.calculator {
  display: none;
  position: absolute;
  left: 9.5%;
  bottom: -5%;
  box-sizing: border-box;
  width: 190px;
  border: 1px solid rgb(87, 87, 87);
  background-color: #f2cac8;
  padding: 5px;
  border-radius: 10px;
}
.calculator form {
  display: grid;
  grid-template-columns: repeat(4, 44px);
  grid-auto-rows: 40px;
}
.calculator form input {
  border: 2px solid rgb(87, 87, 87);
  cursor: pointer;
  font-size: 22px;
  border-radius: 10px;
}
.calculator form input:hover {
  box-shadow: 1px 1px 2px rgb(87, 87, 87);
}
.calculator form .clear {
  background-color: #fdbb75;
  grid-column: span 3;
}
.calculator form .operator {
  background-color: #fb938f;
  font-size: 26px;
}
.calculator form .dot {
  background-color: #c36b85;
  font-size: 28px;
}
.calculator form input[type="text"] {
  grid-column: span 4;
  height: 33px;
  text-align: right;
  padding: 0 10px;
}
.calculator form .Cresult {
  grid-column: span 2;
}

/* for calender */

.calender {
  font-family: sans-serif;
  box-sizing: border-box;
  width: 300px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.year-month {
  font-size: 25px;
}
.nav {
  display: flex;
  transform: translate(0, 50%);
  border: 1px solid #333333;
  border-radius: 5px;
}
.nav-btn {
  width: 20px;
  height: 20px;
  border: none;
  font-size: 14px;
  line-height: 4px;
  background-color: transparent;
  cursor: pointer;
}
.go-today {
  width: 75px;
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
}
.days {
  display: flex;
  margin: 25px 0 10px;
}
.day {
  width: calc(100% / 7);
  text-align: center;
}
.dates {
  display: flex;
  flex-flow: row wrap;
  height: 180px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
}
.date {
  width: calc(100% / 7);
  padding: 15px;
  text-align: right;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}
/* .day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: tomato;
}
.day:nth-child(7n),
.date:nth-child(7n) {
  color: royalblue;
} */
