body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(0%, -18%);
  /* background: no-repeat center url(background.jpg);
  background-size: cover; */
  margin: 0;
}
body:before {
  content: "";
  background: linear-gradient(
    to bottom,
    rgba(107, 134, 209, 0.795),
    transparent
  );
  position: absolute;
  top: 0;
  height: 33%;
  width: 100%;
}
header {
  margin: 70px;
  /* transform: translate(-550%,0%); */
}
header:hover {
  cursor: pointer;
}

#instagram1:focus {
  background-color: tomato;
}
.social {
  padding: 1.5%;
  position: relative;
  left: 39%;
  border-radius: 40%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.social:hover {
  cursor: pointer;
  box-shadow: 1px 1px 2px rgb(231, 231, 231);
  background-color: rgb(243, 242, 242);

  transition: 0.4s;
}
img {
  vertical-align: middle;
}
input[type="checkbox"]:hover,
.potal:hover {
  cursor: pointer;
}
input[type="checkbox"] {
  width: 18px;
  height: 18px;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 5px;
}

#potal1 {
  position: relative;
  top: -4.5px;
}
#potal2 {
  position: relative;
  top: -6.5px;
}
#potal3 {
  position: relative;
  top: -3.2px;
}
#potal4,
#potal5,
#potal6 {
  position: relative;
  top: -7px;
}

input[type="text"] {
  border: 1px solid rgb(156, 156, 156);
  height: 30px;
  font-size: 18px;
  border-radius: 5px;
}
input[type="text"]:focus {
  outline: none;
  border: 1.5px solid rgb(95, 95, 95);
}
input[type="submit"] {
  width: 35px;
  height: 35px;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 5px;
  font-size: 1.5rem;
  color: rgb(44, 42, 44);
  text-shadow: 0px 2px rgba(0, 0, 0, 0.44);
  position: relative;
  top: 2.3px;
}
input[type="submit"]:hover {
  cursor: pointer;
  background-color: rgb(173, 173, 173);
}

#instagram0 {
  transform: rotate(-30deg);
}
#facebook0 {
  transform: rotate(5deg);
  position: relative;
  top: 10px;
}
#twitter0 {
  transform: rotate(-10deg);
}

footer {
  position: absolute;
  left: 10%;
  bottom: -10%;
}
.tool:hover {
  width: 28px;
  transition: 0.4s;
}
footer button {
  border-style: none;
  background-color: rgba(255, 255, 255, 0);
  width: 45px;
  height: 43px;
  padding-top: 2px;

  border-radius: 35%;
}
footer button:hover {
  cursor: pointer;
  transition: 0.3s;
  /* background-color: rgba(233, 229, 229, 0.829); */
  box-shadow: 1px 1px 2px rgb(231, 231, 231);
  background-color: rgb(243, 242, 242);
}

/* for timer */
.timer_wrap {
  display: none;
  cursor: move;

  border: 3px solid rgb(242, 242, 242);
  background-color: #f0eeee;
  border-radius: 10px;
  box-shadow: 0px 0px 17px 0px rgb(239, 239, 239);
  padding-top: 15px;
  width: 200px;
  height: 65px;
}
.timer {
  text-align: center;
  cursor: move;
  font-size: 25px;
  right: 1.54%;
  font: bold;
  color: rgb(99, 99, 99);
}
.timer_button {
  border: 0.5px solid rgb(226, 226, 226);
  position: relative;
  left: 5.5%;
  bottom: 50%;
  color: rgb(112, 112, 112);
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
  font-size: 17px;
  width: 55px;
}
.timer_button:hover {
  background-color: rgb(0, 122, 255);
  color: #ffffff;
  transition: 0.3s;
}

/* for memo */
#mo {
  display: none;
  cursor: move;
  height: 150px;
  width: 250px;
  border-radius: 10%;
  padding: 1.5%;
  color: rgb(111, 111, 111);
  background-color: rgb(248, 247, 247);
  border: 3px solid rgb(242, 242, 242);
  font-size: 18px;
  font-weight: 800;
  box-shadow: 0px 0px 19px 0px rgb(233, 232, 232);
}
#mo:focus {
  outline: none;
  border: 0.5px solid #cecece;
}
/* for calculator */
.calculator {
  display: none;
  cursor: move;

  box-sizing: border-box;
  width: 190px;
  border: 3px solid rgb(242, 242, 242);
  background-color: #ebebeb;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 19px 0px rgb(233, 232, 232);
}
.calculator form {
  display: grid;
  grid-template-columns: repeat(4, 44px);
  grid-auto-rows: 40px;
}
.calculator form input {
  border: 0.5px solid rgb(224, 224, 224);
  cursor: pointer;
  font-size: 22px;
  border-radius: 10px;
}
.calculator form input[type="button"] {
  margin: 1.8%;
  color: rgb(97, 97, 97);
}
.calculator form input[type="text"] {
  border: 1px solid rgb(206, 206, 206);
  background-color: rgb(248, 248, 248);
}
.calculator form input:hover {
  box-shadow: 1px 1px 2px rgb(231, 231, 231);
  background-color: rgb(223, 222, 222);
  transition: 0.3s;
}
.clear {
  background-color: rgb(192, 192, 192);
  grid-column: span 3;
}
.calculator form .operator {
  background-color: rgb(199, 199, 199);
  font-size: 26px;
  color: rgb(97, 97, 97);
}
.calculator form .dot {
  background-color: rgb(196, 196, 196);
  font-size: 28px;
}
.calculator form input[type="text"] {
  grid-column: span 4;
  height: 33px;
  text-align: right;
  padding: 0 10px;
}
.calculator form .Cresult {
  grid-column: span 2;
}

/* for calender */
td {
  padding-right: 8px;
  position: relative;
  transform: translate(6px, 0px);
}
tbody tr:nth-child(2) td {
  margin-right: 4.7px;
}
tbody tr:nth-child(2) {
  display: flex;
  margin: 25px 0 10px;
  width: calc(100% / 7);
  text-align: center;
}
tbody tr td:nth-child(7) {
  color: rgb(3, 3, 199);
}
tbody tr td:nth-child(1) {
  color: rgb(194, 1, 1);
}

.calen {
  display: none;
  background-color: rgb(238, 238, 238);
  border-radius: 10%;
  cursor: move;

  box-shadow: 0px 0px 17px 0px rgb(239, 239, 239);
  border: 3px solid rgb(242, 242, 242);
}
.calenar {
  width: 250px;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calenar td {
  text-align: center;
  font-size: 17px;
  color: rgb(70, 70, 70);
}
.calenar button {
  background-color: rgb(235, 235, 235);
  width: 100%;
  height: 100%;
  font-size: 15px;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  padding: 0 12px;
  font-weight: 200;
  line-height: 1.5;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
}
.calenar button:hover {
  background-color: rgb(0, 122, 255);
  color: white;
  transition: 0.3s;
}

.calenar tr:first-child td:nth-child(2) {
  font-size: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.045);
  color: rgb(141, 141, 141);
}
#tome {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 30px;
  padding-top: 42px;
  height: 280px;
  width: 1000px;
  position: absolute;
  left: 26%;
  bottom: -8.7%;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 12px;
}
#put {
  display: none;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.315);
}
.to {
  position: absolute;
  left: 11%;
  bottom: -5%;
}
